.Status {
  position: absolute;
  bottom: 0;
  width: 100vw;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 10rem;
}

.Status__field {
  padding: 5rem;
}
