.Tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /* border: 1px solid white; */
  /* width: 10rem; */
  /* height: 10rem; */
  font-size: 2rem;
  /* box-sizing: border-box; */
}

.Tile--BLANK {
    background-color: transparent;
}
.Tile--SNAKE {
    background-color: black;
}
.Tile--HEAD {
    background-color: gray;
}
.Tile--APPLE {
    background-color: green;
}
